<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.neversoft.smartwaiter"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".ui.SmartWaiter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        <activity
            android:name=".ui.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SincronizarActivity"
            android:label="@string/title_activity_main">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service android:name=".service.SincronizarService">
        </service>
        <receiver android:name=".receiver.SincronizarReceiver">
            <intent-filter>
                <action android:name="com.neversoft.smartwaiter.SYNC_DATA"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.TomarPedidoActivity"
            android:label="@string/title_activity_tomar_pedido">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>

        <service android:name=".service.EnviarPedidoService"/>

        <receiver android:name=".receiver.EnviarPedidoReceiver">
            <intent-filter>
                <action android:name="com.neversoft.smartwaiter.ENVIAR_PEDIDO"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MesasActivity"
            android:label="@string/title_activity_mesas">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.LoginRapidoActivity"
            android:label="@string/title_activity_login_rapido">
        </activity>
        <activity
            android:name=".ui.IniciarDiaActivity"
            android:label="@string/title_activity_iniciar_dia">
        </activity>
        <activity
            android:name=".ui.CerrarDiaActivity"
            android:label="@string/title_activity_cerrar_dia">
        </activity>
        <activity
            android:name=".ui.PedidosARecogerActivity"
            android:label="@string/title_activity_pedidos_arecoger">
        </activity>

        <service android:name=".service.ConsultarPedidosRecogerService"/>

        <receiver android:name=".receiver.ConsultarPedidosRecogerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.NotificarPedidosRecogidosService"/>

        <activity android:name=".ui.PedidosFacturarActivity">
        </activity>

        <service android:name=".service.EnviarPedidoFacturadoService"/>

        <activity
            android:name=".ui.ConsultarReservasActivity"
            android:label="@string/title_activity_consultar_reservas">
        </activity>

        <service android:name=".service.ActualizarEstadoMesaService"/>
        <service android:name=".service.ObtenerListaMesasService"/>

        <!--SO-->
        <!--QA1-->
        <!-- -->
        <!--tr4ck18_t0xY-->
        <!--SQL SERVER-->
        <!-- -->
        <!--sa-->
        <!--calidad$123-->
    </application>

</manifest>
